* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#5b86f3, #1349c7, #6849f1);
  color: #023b4f;
}
#main-container {
  border: 3px solid #0f4a74;
  padding: 10px;
  border-radius: 25px;
  background-color: #e7ede9;
  height: 30%;
  gap: 16%;
  box-shadow: 2px 2px 2px 2px #3a138d;
}
#countries {
  gap: 50px;
  align-self: center;
}
#currency-one-container,
#currency-two-container {
  gap: 5px;
}
.input-boxes,
#currency-one,
#currency-two {
  border-radius: 6px;
  padding: 5px;
  border: 1px solid black;
}
#heading {
  font-weight: 700;
  align-self: center;
  font-size: x-large;
  text-decoration: underline;
}
.input-boxes:focus, #currency-one:focus, #currency-two:focus{
    outline: 0;
    border: 2.5px solid rgb(93, 95, 95);
    background-color: rgb(215, 213, 213);
}
.input-boxes::placeholder{
    color: rgb(47, 46, 46);
}
.input-boxes:focus::placeholder{
    color: black;
}
#currency-one, #currency-two{
    cursor: pointer;
}